/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * homesteaderstb implementation : © Nick Patron <nick.theboot@gmail.com>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * homesteaders.css
 *
 * homesteaders stylesheet
 *
 */

/* Note: you must not use any @import directive */


/********* You can start writing your CSS below this line: **********/


div#board {
   background-image: url('img/auctionBoard.jpg');
   position: relative;
	width: 1000px;
	height: 740px;
   background-size: 1000px 740px;
   background-repeat: no-repeat;
   margin: auto;
}

div#bid_slot_A1_B3{
   top: 54.8%;
   left: 6.5%;
 }
div#bid_slot_A1_B4{
   top: 45.5%;
   left: 6.5%;
 }
div#bid_slot_A1_B5{
   top: 36.4%;
   left: 6.5%;
 }
div#bid_slot_A1_B6{
   top: 27.25%;
   left: 6.5%;
 }
div#bid_slot_A1_B7{
   top: 18%;
   left: 6.5%;
 }
div#bid_slot_A1_B9{
   top: 8.85%;
   left: 6.5%;
 }
div#bid_slot_A1_B12{
   top: 8.85%;
   left: 13.25%;
 }
div#bid_slot_A1_B16{
   top: 8.85%;
   left: 19.9%;
 }
div#bid_slot_A1_B21{
   top: 8.85%;
   left: 26.75%;
 }

div#bid_slot_A2_B3{
   top: 54.8%;
   left: 36.45%;
 }
div#bid_slot_A2_B4{
   top: 45.5%;
   left: 36.45%;
 }
div#bid_slot_A2_B5{
   top: 35.95%;
   left: 36.45%;
 }
div#bid_slot_A2_B6{
   top: 27.256%;
   left: 36.45%;
 }
div#bid_slot_A2_B7{
   top: 18%;
   left: 36.45%;
 }
div#bid_slot_A2_B9{
   top: 8.85%;
   left: 36.45%;
 }
div#bid_slot_A2_B12{
   top: 8.85%;
   left: 43.4%;
 }
div#bid_slot_A2_B16{
   top: 8.85%;
   left: 50.1%;
 }
div#bid_slot_A2_B21{
   top: 8.85%;
   left: 57%;
 }

div#bid_slot_A3_B3{
   top: 54.8%;
   left: 66.65%;
 }
div#bid_slot_A3_B4{
   top: 45.5%;
   left: 66.65%;
 }
div#bid_slot_A3_B5{
   top: 36.4%;
   left: 66.65%;
 }
div#bid_slot_A3_B6{
   top: 27.256%;
   left: 66.65%;
 }
div#bid_slot_A3_B7{
   top: 18%;
   left: 66.65%;
 }
div#bid_slot_A3_B9{
   top: 8.85%;
   left: 66.65%;
 }
div#bid_slot_A3_B12{
   top: 8.85%;
   left: 73.6%;
 }
div#bid_slot_A3_B16{
   top: 8.85%;
   left: 80.3%;
 }
div#bid_slot_A3_B21{
   top: 8.85%;
   left: 87.1%;
 }
 .bid_slot {
   position: absolute;
   height: 8.25%;
   width: 6%;
   border-style: solid;
   border-color:red;
   border-width: 2px;
 }

 .token_zone {
   box-sizing: content-box;
 }

 .auction_tiles_zone{
   border-style: solid;
   border-color:blue;
   border-width: 2px;
   position: absolute;
   top: 27%;
   height: 36%;
   width: 20%;
 }

 #auction_tile_zone1 {
   left: 13.46%;
 }
 #auction_tile_zone2 {
   left: 43.45%;
}
 #auction_tile_zone3 {
   left: 73.25%;
}

div#train_advancement_0{
   left: 6.4%;
}
div#train_advancement_1{
   left: 21%;
}
div#train_advancement_2{
   left: 35.5%;
}
div#train_advancement_3{
   left: 50.2%;
}
div#train_advancement_4{
   left: 64.6%;
}
div#train_advancement_5{
   left: 79.1%;
}

.train_advance{
   position: absolute;
   top: 72.5%;
   height: 15%;
   width: 14%;
   border-color:yellow;
   border-style: solid;
   border-width: 2px;
}

 div#trade_board {
   background-image: url('img/trade.jpg');
   position: relative;
   width: 500px;
   height: 130px;
   background-size: 500px auto;
   background-repeat: no-repeat;
   margin: auto;
}
.trade_option {
   height: 19%;
   width: 15%;
   position: absolute;
   border-color: green;
   border-style: solid;
   border-width: 2px;
}

div#trade_buy_wood{
   left: 1.5%;
   top: 15.5%;
}
div#trade_buy_food{
   left: 18%;
   top: 15.5%;
}
div#trade_buy_steel{
   left: 1.5%;
   top: 38%;
}
div#trade_buy_gold{
   left: 18%;
   top: 20%;
}
div#trade_buy_copper{
   left: 1.5%;
   top: 59.5%;
}
div#trade_buy_livestock{
   left: 18%;
   top: 59.5%;
}
div#trade_sell_wood{
   left: 39.5%;
   top: 15.5%;
}
div#trade_sell_food{
   left: 55.8%;
   top: 15.5%;
}
div#trade_sell_steel{
   left: 39.5%;
   top: 38%;
}
div#trade_sell_gold{
   left: 55.8%;
   top: 38%;
}
div#trade_sell_copper{
   left: 39.5%;
   top: 59.5%;
}
div#trade_sell_livestock{
   left: 55.8%;
   top: 59.5%;
}
div#trade_market_wood_food{
   left: 79.5%;
   top: 23.5%;
}
div#trade_market_food_steel{
   left: 79.5%;
   top: 45.5%;
}


 .selectable {
   border-style: dotted;
   border-color: blue;
   border-width: 3px;
   box-sizing: content-box;
   cursor:pointer;
 }

 .selected {
   border-style: solid;
   border-color:red;
   border-width: 2px;
   box-sizing: content-box;
   cursor:pointer;
 }

 .highlighted {
   border-style: dotted;
   border-color:black;
   border-width: 3px;
   box-sizing: content-box;
   cursor:pointer;
 }

.color_yellow {
   background-color: yellow;  
}

.color_blue {
    background-color: blue; 
}

.color_green {
    background-color: green; 
}

.color_red {
    background-color: red; 
}

.res_red {
   border-color:red;
   border-radius: 2px;
   border-style: solid;
}

.res_green {
   border-color:green;
   border-radius: 2px;
   border-style: solid;
}

.res_blue {
   border-color:blue;
   border-radius: 2px;
   border-style: solid;
}

.res_yellow {
   border-color:yellow;
   border-radius: 2px;
   border-style: solid;
}


.tile_tip {
   border-radius:4px;
   width:200px;
   border-style: solid;
   border-width: 3px;
   box-sizing: border-box;
   padding:4px 4px 4px 4px;
}

.tile_selected {
   border-style: solid;
   border-color:red;
   border-width: 2px;
   box-sizing: border-box;
}

.resourcebox {
   position: relative;
   height:150px;
}

.token {
   width: 48px;
   height: 48px;
   position: absolute;
   background-size: auto;
   background-image: url('img/tokens_48x48.png');
}

.score_text {
   position: relative;
   display: inline-block;
   font-size: small;
   left:-9px;
   top:-20px;
}

.score {
   position: relative;
   display: inline-block;
   font-size: .8em;
   vertical-align:8px;
   margin-left: -4px;
   margin-right: 4px;
   background-repeat: no-repeat;
}

.score_group
{
    height:36px;
    position:relative;
}

.noshow {
   visibility:hidden;
   height:0px;
}
.show {
   visibility:visible;
}


.auction_tile {
   width: 144px;
   height: 196px;
   position: relative;
   background-image: url('img/auctionTiles_144x196.png');
   background-repeat: no-repeat;
   box-shadow: -3px -3px 3px grey inset;
   border-radius: 6px;
}

div#auction_tile_1 { /* Auction 1*/
   background-position: 0px 0px;
}
div#auction_tile_2 {
   background-position: -100% -0px;
}
div#auction_tile_3 {
   background-position: -200% -0px;
}
div#auction_tile_4 {
   background-position: -300% -0px;
}
div#auction_tile_5 {
   background-position: -400% -0px;
}
div#auction_tile_6 {
   background-position: -500% -0px;
}
div#auction_tile_7 {
   background-position: -600% -0px;
}
div#auction_tile_8 {
   background-position: -1008px -0px;
}
div#auction_tile_9 {
   background-position: -1152px -0px;
}
div#auction_tile_10 {
   background-position: -1296px -0px;
}
div#auction_tile_11 {/* Auction 2*/
   background-position: -0px -196px;
}
div#auction_tile_12 {
   background-position: -144px -196px;
}
div#auction_tile_13 {
   background-position: -288px -196px;
}
div#auction_tile_14 {
   background-position: -432px -196px;
}
div#auction_tile_15 {
   background-position: -576px -196px;
}
div#auction_tile_16 {
   background-position: -720px -196px;
}
div#auction_tile_17 {
   background-position: -864px -196px;
}
div#auction_tile_18 {
   background-position: -1008px -196px;
}
div#auction_tile_19 {
   background-position: -1152px -196px;
}
div#auction_tile_20 {
   background-position: -1296px -196px;
}
div#auction_tile_21 { /* Auction 3*/
   background-position: -0px -392px;
}
div#auction_tile_22 {
   background-position: -144px -392px;
}
div#auction_tile_23 {
   background-position: -288px -392px;
}
div#auction_tile_24 {
   background-position: -432px -392px;
}
div#auction_tile_25 {
   background-position: -576px -392px;
}
div#auction_tile_26 {
   background-position: -720px -392px;
}
div#auction_tile_27 {
   background-position: -864px -392px;
}
div#auction_tile_28 {
   background-position: -1008px -392px;
}
div#auction_tile_29 {
   background-position: -1152px -392px;
}
div#auction_tile_30 {
   background-position: -1296px -392px;
}

#building_zone_red {
   display: block;
   width: auto;
   border-color: red;
   border-radius: 6px;
}
#building_zone_yellow {
   display: block;
   width: auto;
   border-color: yellow;
   border-radius: 6px;
}
#building_zone_green {
   display: block;
   width: auto;
   border-color: green;
   border-radius: 6px;
}
#building_zone_blue {
   display: block;
   width: auto;
   border-color: blue;
   border-radius: 6px;
}

/*=========================
    Building card images
  =========================*/
.building_tile {
   width: 144px;
   height: 196px;
   position: relative;
   background-image: url('img/buildingTiles_144x196.png');
   background-repeat: no-repeat;
   box-shadow: -3px -3px 3px grey inset;
   border-radius: 6px;
}

.build_tile_1 { /* Yellow Homestead */
   background-position: 0px 0px;
}
.build_tile_2 { /* Red Homestead */
   background-position: -144px 0px;
}
.build_tile_3 { /* Green Homestead */
   background-position: -288px 0px;
}
.build_tile_4 { /* Blue Homestead */
   background-position: -432px 0px;
}
.build_tile_5 { /* Grain Mill */
   background-position: -576px 0px;
}
.build_tile_6 { /* Farm */
   background-position: -720px 0px;
}
.build_tile_7 { /* Market */
   background-position: -864px 0px;
}
.build_tile_8 { /* Foundry */
   background-position: -1008px 0px;
}
.build_tile_9 { /* Steel Mill */
   background-position: -1152px 0px;
}
.build_tile_10 { /* Boarding House */
   background-position: 0px -196px;
}
.build_tile_11 { /* Railworkers House */
   background-position: -144px -196px;
}
.build_tile_12 { /* Ranch */
   background-position: -288px -196px;
}
.build_tile_13 { /* Trading Post */
   background-position: -432px -196px;
}
.build_tile_14 { /* General Store */
   background-position: -576px -196px;
}
.build_tile_15 { /* Gold Mine */
   background-position: -720px -196px;
}
.build_tile_16 { /* Copper Mine */
   background-position: -864px -196px;
}
.build_tile_17 { /* River Port */
   background-position: -1008px -196px;
}
.build_tile_18 { /* Church */
   background-position: -1152px -196px;
}
.build_tile_19 { /* Workshop */
   background-position: -0px -392px;
}
.build_tile_20 { /* Depot */
   background-position: -144px -392px;
}
.build_tile_21 { /* Stables */
   background-position: -288px -392px;
}
.build_tile_22 { /* Bank */
   background-position: -432px -392px;
}
.build_tile_23 { /* Meatpacking Plant */
   background-position: -576px -392px;
}
.build_tile_24 { /* Forge */
   background-position: -720px -392px;
}
.build_tile_25 { /* Factory */
   background-position: -864px -392px;
}
.build_tile_26 { /* Rodeo */
   background-position: -1008px -392px;
}
.build_tile_27 { /* Lawyer */
   background-position: -1152px -392px;
}
.build_tile_28 { /* Fairgrounds */
   background-position: -0px -588px;
}
.build_tile_29 { /* Dude Ranch */
   background-position: -144px -588px;
}
.build_tile_30 { /* Town Hall */
   background-position: -288px -588px;
}
.build_tile_31 { /* Terminal */
   background-position: -432px -588px;
}
.build_tile_32 { /* Restaraunt */
   background-position: -576px -588px;
}
.build_tile_33 { /* Train Station */
   background-position: -720px -588px;
}
.build_tile_34 { /* Circus */
   background-position: -864px -588px;
}
.build_tile_35 { /* Rail Yard */
   background-position: -1008px -588px;
}
.first_player_tile { /* First Player */
   background-position: -1152px -588px;
}