/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * homesteaderstb implementation : © Nick Patron <nick.theboot@gmail.com>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * homesteaders.css
 *
 * homesteaders stylesheet
 *
 */

/*
    This is the CSS stylesheet of your game User Interface.
    
    Styles defined on this file will be applied to the HTML elements you define in your
    HTML template (homesteaderstb_homesteaderstb.tpl), and to HTML elements you create dynamically
    (in homesteaderstb.js).
    
    Usually, you are using CSS to:
    
    1°) define the overall layout of your game
        (ex: place the board on the top left, place player's hand beside, place the deck on the right, ...).

    2°) create your CSS-sprites:
        All images of your games should be gathered into a small number of image files. Then, using
        background-image and background-position CSS properties, you create HTML blocks that can 
        display these images correctly (see example below).
    
    3°) ... anything else:
        It is really easy to add and remove CSS classes dynamically from your Javascript with
        dojo.addClass and dojo.removeClass. It is also easy to check if an element has a class
        (dojo.hasClass) or to get all elements with a specific class (dojo.query). This is why,
        very often, using CSS classes for the logic of your user interface allow you to do complex
        thing easily.
        
        
     Note: on the production platform, this file will be compressed and comments will be removed.
           Consequently, don't hesitate to put as many comments as necessary.
*/


/* Note: you must not use any @import directive */


/********* You can start writing your CSS below this line: **********/


#board {
   background-image: url('img/auctionBoard.jpg');
   position: relative;
	width: 520px;
	height: 384px;
	background-size: 520px auto;
   margin: auto;
}


 .bid_slot_A1_B3{
    top: 210px;
    left: 35px;
    height: 40px;
    width: 36px;
 }
 .bid_slot_A1_B4{
    top: 174px;
    left: 35px;
    height: 36px;
    width: 36px;
 }
 .bid_slot_A1_B5{
    top: 138px;
    left: 35px;
    height: 36px;
    width: 36px;
 }
 #bid_slot_A1_B6{
    top: 102px;
    left: 35px;
    height: 36px;
    width: 36px;
 }
 #bid_slot_A1_B7{
    top: 66px;
    left: 35px;
    height: 36px;
    width: 36px;
 }
 #bid_slot_A1_B9{
    top: 34px;
    left: 35px;
    height: 36px;
    width: 36px;
 }
 #bid_slot_A1_B12{
    top: 34px;
    left: 70px;
    height: 36px;
    width: 34px;
 }
 #bid_slot_A1_B16{
    top: 34px;
    left: 104px;
    height: 36px;
    width: 34px;
 }
 #bid_slot_A1_B21{
    top: 34px;
    left: 138px;
    height: 36px;
    width: 44px;
 }

 #bid_slot_A2_B3{
    top: 208px;
    left: 187px;
    height: 40px;
    width: 36px;
 }
 #bid_slot_A2_B4{
    top: 174px;
    left: 35px;
    height: 36px;
    width: 36px;
 }
 #bid_slot_A2_B5{
    top: 138px;
    left: 35px;
    height: 36px;
    width: 36px;
 }
 #bid_slot_A2_B6{
    top: 102px;
    left: 35px;
    height: 36px;
    width: 36px;
 }
 #bid_slot_A2_B7{
    top: 66px;
    left: 35px;
    height: 36px;
    width: 36px;
 }
 #bid_slot_A2_B9{
    top: 34px;
    left: 35px;
    height: 36px;
    width: 36px;
 }
 #bid_slot_A2_B12{
    top: 34px;
    left: 70px;
    height: 36px;
    width: 34px;
 }
 #bid_slot_A2_B16{
    top: 34px;
    left: 104px;
    height: 36px;
    width: 34px;
 }
 #bid_slot_A2_B21{
    top: 34px;
    left: 138px;
    height: 36px;
    width: 44px;
 }

 #bid_slot_A3_B3{
    top: 210px;
    left: 344px;
    height: 40px;
    width: 36px;
 }
 #bid_slot_A3_B4{
    top: 174px;
    left: 344px;
    height: 36px;
    width: 36px;
 }
 #bid_slot_A3_B5{
    top: 138px;
    left: 344px;
    height: 36px;
    width: 36px;
 }
 #bid_slot_A3_B6{
    top: 102px;
    left: 344px;
    height: 36px;
    width: 36px;
 }
 #bid_slot_A3_B7{
    top: 66px;
    left: 344px;
    height: 36px;
    width: 36px;
 }
 #bid_slot_A3_B9{
    top: 34px;
    left: 344px;
    height: 36px;
    width: 36px;
 }
 #bid_slot_A3_B12{
    top: 34px;
    left: 379px;
    height: 36px;
    width: 34px;
 }
 #bid_slot_A3_B16{
    top: 34px;
    left: 413px;
    height: 36px;
    width: 34px;
 }
 #bid_slot_A3_B21{
    top: 34px;
    left: 447px;
    height: 36px;
    width: 44px;
 }
 .first_player_tile

 .auction1_tile_pile {
    top: 70px;
    left: 70px;
    height: 175px;
    width: 105px;
 }
 .auction2_tile_pile {
    top: 70px;
    left: 225px;
    height: 175px;
    width: 105px;
 }
 .auction3_tile_pile {
    top: 70px;
    left: 380px;
    height: 175px;
    width: 105px;
 }

.color_ffff00 {
   background-color: #ffff00;  
}

.color_0000ff {
    background-color: #0000ff; 
}

.color_008000 {
    background-color: #008000; 
}

.color_ff0000 {
    background-color: #ff0000; 
}

.res_red {
   border-color:red;
}

.res_green {
   border-color:green;
}

.res_blue {
   border-color:blue;
}

.res_yellow {
   border-color:yellow;
}

.auction_tile {
   width: 144px;
   height: 196px;
   position: relative;
   background-image: url('img/auctionTiles_144x196.png');
   box-shadow: -3px -3px 3px grey inset;
   border-radius: 6px;
}
.building_tile {
   width: 144px;
   height: 196px;
   position: relative;
   background-image: url('img/buildingTiles_144x196.png');
   box-shadow: -3px -3px 3px grey inset;
   border-radius: 6px;
}

.tile_tip {
   border-radius:4px;
   width:200px;
   border-style: solid;
   border-width: 3px;
   box-sizing: border-box;
   padding:4px 4px 4px 4px;
}

.tile_selected {
   border-style: solid;
   border-color:red;
   border-width: 2px;
   box-sizing: border-box;
}

.resourcebox {
   position: relative;
   height:150px;
}

.token {
   width: 48px;
   height: 48px;
   position: absolute;
   background-size: auto;
   background-image: url('img/tokens_48x48.png');
}

.score_text {
   position: relative;
   display: inline-block;
   font-size: small;
   left:-9px;
   top:-20px;
}

.score {
   position: relative;
   display: inline-block;
   font-size: .8em;
   vertical-align:8px;
   margin-left: -4px;
   margin-right: 4px;
   background-repeat: no-repeat;
}

.score_group
{
    height:36px;
    position:relative;
}

.noshow {
   visibility:hidden;
   height:0px;
}
.show {
   visibility:visible;
}

.auction_tile_1 { /* Auction 1*/
   background-position: 0px 0px;
}
.auction_tile_2 {
   background-position: -144px -0px;
}
.auction_tile_3 {
   background-position: -288px -0px;
}
.auction_tile_4 {
   background-position: -432px -0px;
}
.auction_tile_5 {
   background-position: -576px -0px;
}
.auction_tile_6 {
   background-position: -720px -0px;
}
.auction_tile_7 {
   background-position: -864px -0px;
}
.auction_tile_8 {
   background-position: -1008px -0px;
}
.auction_tile_9 {
   background-position: -1152px -0px;
}
.auction_tile_10 {
   background-position: -1296px -0px;
}
.auction_tile_11 {/* Auction 2*/
   background-position: -0px -196px;
}
.auction_tile_12 {
   background-position: -144px -196px;
}
.auction_tile_13 {
   background-position: -288px -196px;
}
.auction_tile_14 {
   background-position: -432px -196px;
}
.auction_tile_15 {
   background-position: -576px -196px;
}
.auction_tile_16 {
   background-position: -720px -196px;
}
.auction_tile_17 {
   background-position: -864px -196px;
}
.auction_tile_18 {
   background-position: -1008px -196px;
}
.auction_tile_19 {
   background-position: -1152px -196px;
}
.auction_tile_20 {
   background-position: -1296px -196px;
}
.auction_tile_21 { /* Auction 3*/
   background-position: -0px -392px;
}
.auction_tile_22 {
   background-position: -144px -392px;
}
.auction_tile_23 {
   background-position: -288px -392px;
}
.auction_tile_24 {
   background-position: -432px -392px;
}
.auction_tile_25 {
   background-position: -576px -392px;
}
.auction_tile_26 {
   background-position: -720px -392px;
}
.auction_tile_27 {
   background-position: -864px -392px;
}
.auction_tile_28 {
   background-position: -1008px -392px;
}
.auction_tile_29 {
   background-position: -1152px -392px;
}
.auction_tile_30 {
   background-position: -1296px -392px;
}


/*=========================
    Building card images
  =========================*/

.build_tile_hs_yellow { /* Yellow Homestead */
   background-position: 0px 0px;
}
.build_tile_hs_red { /* Red Homestead */
   background-position: -144px 0px;
}
.build_tile_hs_green { /* Green Homestead */
   background-position: -288px 0px;
}
.build_tile_hs_blue { /* Blue Homestead */
   background-position: -432px 0px;
}
.build_tile_2 { /* Grain Mill */
   background-position: -576px 0px;
}
.build_tile_3 { /* Farm */
   background-position: -720px 0px;
}
.build_tile_4 { /* Market */
   background-position: -864px 0px;
}
.build_tile_5 { /* Foundry */
   background-position: -1008px 0px;
}
.build_tile_6 { /* Steel Mill */
   background-position: -1152px 0px;
}
.build_tile_7 { /* Boarding House */
   background-position: 0px -196px;
}
.build_tile_8 { /* Railworkers House */
   background-position: -144px -196px;
}
.build_tile_9 { /* Ranch */
   background-position: -288px -196px;
}
.build_tile_10 { /* Trading Post */
   background-position: -432px -196px;
}
.build_tile_11 { /* General Store */
   background-position: -576px -196px;
}
.build_tile_12 { /* Gold Mine */
   background-position: -720px -196px;
}
.build_tile_13 { /* Copper Mine */
   background-position: -864px -196px;
}
.build_tile_14 { /* River Port */
   background-position: -1008px -196px;
}
.build_tile_15 { /* Church */
   background-position: -1152px -196px;
}
.build_tile_16 { /* Workshop */
   background-position: -0px -392px;
}
.build_tile_17 { /* Depot */
   background-position: -144px -392px;
}
.build_tile_18 { /* Stables */
   background-position: -288px -392px;
}
.build_tile_19 { /* Bank */
   background-position: -432px -392px;
}
.build_tile_20 { /* Meatpacking Plant */
   background-position: -576px -392px;
}
.build_tile_21 { /* Forge */
   background-position: -720px -392px;
}
.build_tile_22 { /* Factory */
   background-position: -864px -392px;
}
.build_tile_23 { /* Rodeo */
   background-position: -1008px -392px;
}
.build_tile_24 { /* Lawyer */
   background-position: -1152px -392px;
}
.build_tile_25 { /* Fairgrounds */
   background-position: -0px -588px;
}
.build_tile_26 { /* Dude Ranch */
   background-position: -144px -588px;
}
.build_tile_27 { /* Town Hall */
   background-position: -288px -588px;
}
.build_tile_28 { /* Terminal */
   background-position: -432px -588px;
}
.build_tile_29 { /* Restaraunt */
   background-position: -576px -588px;
}
.build_tile_30 { /* Train Station */
   background-position: -720px -588px;
}
.build_tile_31 { /* Circus */
   background-position: -864px -588px;
}
.build_tile_32 { /* Rail Yard */
   background-position: -1008px -588px;
}
.build_tile_first { /* First Player */
   background-position: -1152px -588px;
}