/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * homesteaderstb implementation : © Nick Patron <nick.theboot@gmail.com>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * homesteaders.css
 *
 * homesteaders stylesheet
 *
 */

/* Note: you must not use any @import directive */


/********* You can start writing your CSS below this line: **********/

/*======*
 * Font *
 *======*/
@font-face {
   font-family: 'Old Standard TT';
   font-style: normal;
   font-weight: 400;
   src: url(https://fonts.googleapis.com/css2?family=Old+Standard+TT);
}

.useFont {
   font: normal 20px/1 "Old Standard TT";
   font-variant: small-caps;
}
.biggerFont {
   font: normal 30px/1 "Old Standard TT";
   font-variant: small-caps;
}
.logFont {
   font-family: 'Old Standard TT';
}
/* Cancelled notification messages */
.log.cancel {
   color: #c62828 !important;
   text-decoration: line-through;
 }

.font_res {
   font: normal 20px/1 "Old Standard TT";
   font-variant: small-caps;
   font-weight: bold;
   color: lightgreen;
}
.font_com {
   font: normal 20px/1 "Old Standard TT";
   font-variant: small-caps;
   font-weight: bold;
   color: darksalmon;
}
.font_ind {
   font: normal 20px/1 "Old Standard TT";
   font-variant: small-caps;
   font-weight: bold;
   color: royalblue;
}
.font_spe {
   font: normal 20px/1 "Old Standard TT";
   font-variant: small-caps;
   font-weight: bold;
   color: gold;
}
.font_a1 {
   font: normal 20px/1 "Old Standard TT";
   font-variant: small-caps;
   font-weight: bold;
   color: lightseagreen;
}
.font_a2 {
   font: normal 20px/1 "Old Standard TT";
   font-variant: small-caps;
   font-weight: bold;
   color: orange;
}
.font_a3 {
   font: normal 20px/1 "Old Standard TT";
   font-variant: small-caps;
   font-weight: bold;
   color: hotpink;
}
.alignleft {
   float: left;
}
.aligncenter {
   float: center;
}
.alignright {
   float: right;
}


/*===============*
 * Auction Board *
 *===============*/
div#board {
   background-image: url('img/auctionBoard.jpg');
   position: relative;
   width: 740px;
   height: 545px;
   background-size: 740px 545px;
   background-repeat: no-repeat;
   grid-column: span 3;
   order: 3;
}
.container {
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(246.6666px, auto));
}

/*============*
 * Button css *
 *============*/
 #top {
   display: grid;
   order: 1;
   grid-column: 1/-1;
   grid-template-columns: repeat(auto-fill, 205px);
   grid-template-rows: repeat(auto-fill, 5px);
}
#confirm_trade_btn{
   height: 17px;
   width: 180px;
   grid-row: span 7;
}
#undo_trades_btn{
   height: 17px;
   width: 180px;
   grid-row: span 7;
}
a#tgl_future_auc{
   height: 17px;
   width: 180px;
   grid-row: span 7;
}
a#tgl_past_bld{
   height: 35px;
   width: 180px;
   grid-row: span 11;
}
a#tgl_future_bld{
   height: 35px;
   width: 180px;
   grid-row: span 11;
}
#round_text {
   margin-top: auto;
   margin-bottom: auto;
   grid-row: span 5;
}
/*====================*
 * Bid Slot Locations *
 *    (on board)      *
 *====================*/
div#pending_bids{
   top: 1%;
   left: 40%; 
   height: 50px;
   width: 200px;
   display: grid;
   grid-template-columns: repeat(4, 50px);
}
div#passed_bids{
   bottom: 1%;
   left: 40%;
   height: 50px;
   width: 200px;
}
.bid_slot {
   display: grid;
   grid-template-columns: repeat(2, 25px);
   position: absolute;
   height: 8.25%;
   width: 6%;
}
div#bid_slot_1_3{
   top: 54.8%;
   left: 6.35%;
 }
div#bid_slot_1_4{
   top: 45.5%;
   left: 6.35%;
 }
div#bid_slot_1_5{
   top: 36.4%;
   left: 6.35%;
 }
div#bid_slot_1_6{
   top: 27.25%;
   left: 6.35%;
 }
div#bid_slot_1_7{
   top: 18%;
   left: 6.35%;
 }
div#bid_slot_1_9{
   top: 8.85%;
   left: 6.35%;
 }
div#bid_slot_1_12{
   top: 8.85%;
   left: 13.25%;
 }
div#bid_slot_1_16{
   top: 8.85%;
   left: 19.9%;
 }
div#bid_slot_1_21{
   top: 8.85%;
   left: 26.75%;
 }
div#bid_slot_2_3{
   top: 54.8%;
   left: 36.45%;
 }
div#bid_slot_2_4{
   top: 45.5%;
   left: 36.45%;
 }
div#bid_slot_2_5{
   top: 35.95%;
   left: 36.45%;
 }
div#bid_slot_2_6{
   top: 27.256%;
   left: 36.45%;
 }
div#bid_slot_2_7{
   top: 18%;
   left: 36.45%;
 }
div#bid_slot_2_9{
   top: 8.85%;
   left: 36.45%;
 }
div#bid_slot_2_12{
   top: 8.85%;
   left: 43.4%;
 }
div#bid_slot_2_16{
   top: 8.85%;
   left: 50.1%;
 }
div#bid_slot_2_21{
   top: 8.85%;
   left: 57%;
 }
div#bid_slot_3_3{
   top: 54.8%;
   left: 66.65%;
 }
div#bid_slot_3_4{
   top: 45.5%;
   left: 66.65%;
 }
div#bid_slot_3_5{
   top: 36.4%;
   left: 66.65%;
 }
div#bid_slot_3_6{
   top: 27.256%;
   left: 66.65%;
 }
div#bid_slot_3_7{
   top: 18%;
   left: 66.65%;
 }
div#bid_slot_3_9{
   top: 8.85%;
   left: 66.65%;
 }
div#bid_slot_3_12{
   top: 8.85%;
   left: 73.6%;
 }
div#bid_slot_3_16{
   top: 8.85%;
   left: 80.3%;
 }
div#bid_slot_3_21{
   top: 8.85%;
   left: 87.1%;
 }

/*===============*
 * Auction Zones *
 *===============*/
.auction_tiles_zone{
   position: absolute;
   top: 27%;
   height: 36%;
   width: 20%;
}
#auction_tile_zone_1 {
   left: 13.25%;
}
#auction_tile_zone_2 {
   left: 43.25%;
}
#auction_tile_zone_3 {
   left: 73.25%;
}
.building_location {
   display: grid;
}
/*===================*
 * Train Advancement *
 *===================*/
.train_advance{
   position: absolute;
   top: 80%;
   height: 7.5%;
   width: 14%;
}
div#train_advancement_0{
   left: 6.4%;
}
div#train_advancement_1{
   left: 21%;
}
div#train_advancement_2{
   left: 35.5%;
}
div#train_advancement_3{
   left: 50.2%;
}
div#train_advancement_4{
   left: 64.6%;
}
div#train_advancement_5{
   left: 79.1%;
}
.train_bonus {
   position: absolute;
   top: 73%;
   height: 6%;
}
div#train_bonus_1_trade{
   left: 26%;
   width: 4%;
}
div#train_bonus_2_track{
   left: 40.65%;
   width: 4%;
}
div#train_bonus_3_worker{
   left: 55.5%;
   width: 4%;
}
div#train_bonus_4_wood{
   top: 75%;
   height: 4%;
   left: 65%;
   width: 1.5%;
}
div#train_bonus_4_food{
   top: 76%;
   height: 3%;
   left: 66.7%;
   width: 1.5%;
}
div#train_bonus_4_steel{
   top: 76%;
   height: 3%;
   left: 68.6%;
   width: 1.5%;
}
div#train_bonus_4_gold{
   top: 76%;
   height: 3%;
   left: 70.6%;
   width: 1.5%;
}
div#train_bonus_4_copper{
   top: 76%;
   height: 3%;
   left: 72.4%;
   width: 2.5%;
}
div#train_bonus_4_cow{
   top: 75.5%;
   height: 3.5%;
   left: 75.2%;
   width: 2.8%;
}
div#train_bonus_5_vp{
   left: 84%;
   width: 5%;
}

#trade_top {
   order: 2;
   grid-column: span 2;
}

@media all and (min-width:1200px){
   .container {
      grid-template-columns: 205px 270px repeat(auto-fill, minmax(205px, auto));
   }
   #top{
      display: grid;
      grid-column: span 1;
      grid-template-columns: repeat(auto-fill, 205px);
   }
   #board {
      order: 2;
   }
   #trade_top {
      order: 3;
   }

}

/*=============================*
 * Trade Board                 *
 * (and trade Selection Zones) *
 *=============================*/
div#trade_board {
   background-image: url('img/trade.jpg');
   position: relative;
   width: 690px;
   height: 180px;
   background-size: 690px auto;
   background-repeat: no-repeat;
   margin: auto;
   box-shadow: -3px -3px 3px grey inset;
   border-radius: 6px;
}
.trade_option {
   height: 19%;
   width: 15%;
   position: absolute;
}
div#trade_buy_wood{
   left: 1.5%;
   top: 15.5%;
}
div#trade_buy_food{
   left: 18%;
   top: 15.5%;
}
div#trade_buy_steel{
   left: 1.5%;
   top: 38%;
}
div#trade_buy_gold{
   left: 18%;
   top: 38%;
}
div#trade_buy_copper{
   left: 1.5%;
   top: 59.5%;
}
div#trade_buy_livestock{
   left: 18%;
   top: 59.5%;
}
div#trade_sell_wood{
   left: 39.5%;
   top: 15.5%;
}
div#trade_sell_food{
   left: 55.8%;
   top: 15.5%;
}
div#trade_sell_steel{
   left: 39.5%;
   top: 38%;
}
div#trade_sell_gold{
   left: 55.8%;
   top: 38%;
}
div#trade_sell_copper{
   left: 39.5%;
   top: 59.5%;
}
div#trade_sell_livestock{
   left: 55.8%;
   top: 59.5%;
}
div#trade_market_wood_food{
   left: 79.5%;
   top: 23.5%;
}
div#trade_market_food_steel{
   left: 79.5%;
   top: 45.5%;
}
div#trade_bank_trade_silver{
   left: 79.5%;
   bottom: 0%;
}
.trade_size {
   grid-column: span 3;
   width: 690px;
   height: 180px;
}

/*===============================*
 * Payment Section (gold/silver) *
 *===============================*/
#payment_section {
   position: relative;
   box-shadow: -3px -3px 3px grey inset;
   border-radius: 6px;
   height: 50px;
   width: 140px;
   display: flex;
   grid-row: span 16;
   margin: auto;
 }
#gold_cost_token {
   margin: auto;
   background-image: url(img/drawn_tokens.png);
   background-size: 375px 150px;
   background-position: -20.5px 0px;
   width: 48px;
   height: 46px;
}
.payment_text {
   margin-top: auto;
   margin-bottom: auto;
   margin-left: 2px;
   margin-right: 6px;
}
#silver_cost_token {
   margin: auto;
   background-image: url(img/drawn_tokens.png);
   background-size: 375px 150px;
   background-position: -107px 0px;
   width: 50px;
   height: 50px;
}
/*================*
 * Building Zones *
 *================*/
#building_zone {
   width: auto;
   border-radius: 6px;
}
.building_zone {
   position: relative;
   display: grid;
   grid-template-columns: repeat(auto-fill, 145px);
   grid-template-rows: repeat(auto-fill, 198px);
}
.building_zone_diag .building_tile:not(:first-child) {
   margin-left: 10px;
   margin-top: -186px;
 }
.main_building_zone {
   position: relative;
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(144px, auto));
   grid-template-rows: repeat(auto-fill, minmax(200px, auto));
}
#future_auction_container {
   grid-template-columns: repeat(auto-fill, 132px);
   grid-template-rows: repeat(auto-fill, 202px);
}
.future_auction_zone {
   display: inline-grid;
}
.auction_string {
   position: absolute;
}

#player_zones {
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(600px, auto));
}

/*===============*
 * State classes *
 *===============*/
.selectable {
   border-style: dotted;
   border-color: blue;
   border-width: 3px;
   box-sizing: content-box;
   cursor:pointer;
}
.selected {
   border-style: solid;
   border-color:red;
   border-width: 2px;
   box-sizing: content-box;
   cursor:pointer;
}

.color_yellow {
   background-color: yellow;  
}
.color_blue {
   background-color: blue; 
}
.color_green {
   background-color: green; 
}
.color_red {
   background-color: red; 
}
.color_purple {
   background-color: purple;
}

.border_yellow {
   border-color:yellow;
   border-radius: 2px;
   border-style: solid;
}
.border_blue {
   border-color:blue;
   border-radius: 2px;
   border-style: solid;
}
.border_green {
   border-color:green;
   border-radius: 2px;
   border-style: solid;
}
.border_red {
   border-color: red;
   border-radius: 2px;
   border-style: solid;
}
.border_purple {
   border-color:purple;
   border-radius: 2px;
   border-style: solid;
}
.border_black {
   border-color:black;
   border-radius: 2px;
   border-style: solid;
}
.border_gray {
   border-color: gray;
   border-radius: 2px;
   border-style: solid;
}
.border_white {
   border-color: white;
   border-radius: 2px;
   border-style: solid;
}
.border_lightseagreen{
   border-color:lightseagreen;
   border-radius: 2px;
   border-style: solid;
}
.border_orange{
   border-color:orange;
   border-radius: 2px;
   border-style: solid;
}
.border_hotpink{
   border-color:hotpink;
   border-radius: 2px;
   border-style: solid;
}

.tile_tip {
   border-radius:4px;
   width:200px;
   border-style: solid;
   border-width: 3px;
   box-sizing: border-box;
   padding:4px 4px 4px 4px;
}
/*======*
 * hide *
 *======*/
.noshow {
   visibility:hidden;
   display: none;
   grid-area: none;
}
.show {
   visibility:visible;
}
/*===============*
 * Animate Token *
 *===============*/
.animated {
	animation: anim_move 2s infinite;
}
@keyframes anim_move {
    0% {transform: rotate(-35deg) translateX(4px);} 
    50% {transform: rotate(35deg) translateX(4px);}
    100% {transform: rotate(-35deg) translateX(4px);}
}

/*==============*
 * Player board *
 *==============*/
.score {
   position: relative;
}
.score_text {
   position: relative;
   margin: auto;
}
.score_group {
   display: grid;
   grid-template-columns: repeat(2, 35px 12px) repeat(3, 39px 6px);
   grid-template-rows: 40px 40px;
}
.score_token {
   background-image: url('img/drawn_tokens.png');
   position: relative;
   margin: auto;
   background-size: 375px 150px;
}
.score_vp{
   background-position: -212.5px 0px;
   width: 56px;
   height: 58px;
   transform: scale(.5);
   grid-column: 1 / 2;
   grid-row: 2 / 3;
   left: -8px;
   top: -9px;
}
.player_vp {
   grid-column: 2 / 3;
   grid-row: 2 / 3;
}
.score_loan {
   background-image: url('img/rail_debt_85x102.png');
   background-position: -86% 50%;
   height: 20px;
   width: 20px;
   transform: scale(1.7);
   background-size: 75px 30px;
   grid-column: 3 / 4;
   grid-row: 2 / 3;
   left: 12px;
   top: 9px;
}
.player_loan {
   grid-column: 4 / 5;
   grid-row: 2 / 3;
}
.score_wood{
   background-position: 0px 0px;
   width: 20.5px;
   height: 51px;
   transform: scale(.7) rotate(45deg);
   grid-column: 5 / 6;
   grid-row: 1 / 2;
   top: -4px;
   left: 3px;
}
.player_wood {
   grid-column: 6 / 7;
   grid-row: 1 / 2;
}
.score_food{
   background-position: -68.5px 0px;
   width: 38.5px;
   height: 41px;
   transform: scale(.7);
   grid-column: 7 / 8;
   grid-row: 1 / 2;
   left: 2px;
}
.player_food {
   grid-column: 8 / 9;
   grid-row: 1 / 2;
}
.score_steel{
   background-position: -96.5px -111px;
   width: 40px;
   height: 38.5px;
   transform: scale(.7);
   grid-column: 9 / 10;
   grid-row: 1 / 2;
   left: 2px;
   top: -1px;
}
.player_steel {
   grid-column: 10 / 11;
   grid-row: 1 / 2;
}
.score_silver{
   background-position: -107px 0px;
   width: 51px;
   height: 49.5px;
   transform: scale(.6);
   grid-column: 1 / 2;
   grid-row: 1 / 2;
   left: -6px;
   top: -5px;
}
.player_silver {
   grid-column: 2 / 3;
   grid-row: 1 / 2;
}
.score_trade{
   background-position: -158px 0px;
   width: 48px;
   height: 47px;
   transform: scale(.6);
   grid-column: 3 / 4;
   grid-row: 1 / 2;
   left: -3px;
   top: -4px;
}
.player_trade {
   grid-column: 4 / 5;
   grid-row: 1 / 2;
}
.score_gold{
   background-position: -20.5px 0px;
   width: 47.5px;
   height: 46px;
   transform: scale(.6);
   grid-column: 5 / 6;
   grid-row: 2 / 3;
   left: -3px;
   top: -3px;
}
.player_gold {
   grid-column: 6 / 7;
   grid-row: 2 / 3;
}
.score_cow{
   background-position: -51.5px -50px;
   width: 85.5px;
   height: 61.5px;
   transform: scale(.38, .45);
   grid-column: 7 / 8;
   grid-row: 2 / 3;
   left: -21px;
   top: -9px;
}
.player_cow {
   grid-column: 8 / 9;
   grid-row: 2 / 3;
}
.tt_loan{
   background-image: url('img/rail_debt_85x102.png');
   height: 45px;
   width: 33px;
   background-size: 99px 45px;
   background-position-x: 66px;
   display: inline-block;
}
.tt_track{
   background-image: url('img/rail_debt_85x102.png');
   height: 45px;
   width: 33px;
   background-size: 99px 45px;
   display: inline-block;
}
.score_copper{
   background-position: -136.5px -54px;
   width: 76px;
   height: 48px;
   transform: scale(.42, .55);
   grid-column: 9 / 10;
   grid-row: 2 / 3;
   left: -17px;
   top: -5px;
}
.player_copper {
   grid-column: 10 / 11;
   grid-row: 2 / 3;
}
.tt{
   transform: scale(1);
   display: block;
   float: center;
}

/*=============*
 * Token Zones *
 *=============*/
.player_token_zone {
   position: relative;
   display: grid;
   grid-template-columns: repeat(auto-fill, 42.5px);
   grid-template-rows: repeat(auto-fill, 51px);
}
.bid_token_zone {
   position: absolute;
   display: grid;
   grid-template-columns: repeat(auto-fill, 42.5px);
   height: 51px;
   width: 170px;
}

/*============*
 * Log Images *
 *============*/
.log_bid {
   display: inline-block;
   background-image: url('img/fancy_tokens_80x83.png');
   background-position-x: 100%;
   background-size: 70px 175px;
   width: 33px;
   height: 35px;
}
.log_train {
   display: inline-block;
   background-image: url('img/fancy_tokens_80x83.png');
   background-size: 98px 249px;
   background-position-x: 0%;
   width: 55px;
   height: 29px;
   transform: scaleX(-1);
}

.log_container {
   display: inline-flex;
   flex-direction: row-reverse;
}
.token_inline{
   background-image: url('img/drawn_tokens.png');
   position: relative;
   display: inline-block;
}
.log_token {
   background-image: url('img/drawn_tokens.png');
   position: relative;
   overflow: hidden;
   flex-direction: row-reverse;
}
.log_token:not(:last-child) {
   margin-left: -10px;
 }

.log_wood{
   background-size: 147.1px 58.8px;
   background-position: 0px 0px;
   width: 8px;
   height: 20px;
}
.log_wood:not(:last-child) {
   margin-left: -2px;
 }
.log_gold{
   background-size: 157.9px 63.2px;
   background-position: -8.4px 0px;
   width: 20px;
   height: 19.4px;
}
.log_food{
   background-size: 182.9px 73.2px;
   background-position: -33.4px 0px;
   width: 18.8px;
   height: 20px;
}
.log_silver{
   background-size: 147.1px 58.8px;
   background-position: -42px 0px;
   width: 20px;
   height: 19.6px;
}
.log_trade{
   background-size: 156.3px 62.5px;
   background-position: -65.8px 0px;
   width: 20px;
   height: 19.6px;
}
.log_vp{
   background-size: 129.3px 51.7px;
   background-position: -73.3px 0px;
   width: 19.3px;
   height: 20px;
}
.log_vp2{
   background-size: 127.3px 51.7px;
   background-position: -92px -0px;
   width: 19.3px;
   height: 20px;
}
.log_vp4{
   background-size: 126.1px 50.4px;
   background-position: -71.4px -19.5px;
   width: 20px;
   height: 19.7px;
}
.log_vp6{
   background-size: 84.3px 33.7px;
   background-position: -60.3px -13.1px;
   width: 20px;
   height: 20.8px;
}
.log_worker{
   background-size: 91.5px 36.6px;
   background-position: 0px -13.2px;
   width: 12.2px;
   height: 20px;
}
.log_container .log_worker:not(:last-child) {
   margin-left: -8px;
 }
.log_cow{
   background-size: 122px 48.8px;
   background-position: -16.75px -16.26px;
   width: 27.8px;
   height: 20px;
}
.log_copper{
   background-size: 156.25px 62.5px;
   background-position: -56.9px -22.5px;
   width: 31.6px;
   height: 20px;
}
.log_track{
   background-size: 194.8px 77.9px;
   background-position: -29.4px -58.4px;
   width: 19.5px;
   height: 20px;
}
.log_steel{
   background-size: 187.5px 75px;
   background-position: -48.3px -55.3px;
   width: 20px;
   height: 19.3px;
}
.log_arrow{
   background-size: 454.5px 181.8px;
   background-position: -165.5px -135.2px;
   width: 20px;
   height: 17.6px;
}

.log_inline_track{
   background-image: url('img/rail_debt_85x102.png');
   background-position: 0% 13%;
   height: 26px;
   width: 33px;
   background-size: 99px 45px;
   display: inline-block;
}
.log_inline_loan {
   display: inline-block;
   background-image: url('img/rail_debt_85x102.png');
   background-position: -87% 30%;
   top: 4px;
   height: 21px;
   width: 31px;
   background-size: 115px 63px; 
}

/*==============*
 * Track Tokens *
 *==============*/
.token_track {
   background-image: url('img/rail_debt_85x102.png');
   background-position: 0% 0%;
   height: 102px;
   width: 85px;
   background-size: 255px 102px;
   grid-column: span 2;
   grid-row: span 2;
}
/*===============*
 * Worker Tokens *
 *===============*/
.token_worker {
   background-image: url(img/drawn_tokens.png);
   height: 35px;
   width: 26px;
   background-position: -204px -188px;
   background-size: 558.5px 223.4px;
   z-index: 2;
   filter: drop-shadow(0px 0px 1px #000000);
   position: relative;
}
.token_worker:not(:first-child) {
   left: 20px;
   top: -42px;
}

/*===============*
 * Player Tokens *
 *===============*/
.player_token_bid {
   background-image: url('img/fancy_tokens_80x83.png');
   background-position-x: 100%;
   background-size: 100px 260px;
   width: 46px;
   height: 52px;
   z-index: 1;
   position: relative;
}
.bid_slot .player_token_bid:not(:first-child){
   left: -25px;
}
.player_token_train {
   background-image: url('img/fancy_tokens_80x83.png');
   background-size: 100px 260px;
   background-position-x: 0%;
   width: 55px;
   height: 52px;
   position: relative;
   transform: scaleX(-1);
}
.player_token_train:nth-child(2){
   left: 50%;
   top: -52px;
}
.player_token_train:nth-child(3){
   left: -25%;
   top: -42px;
}
.player_token_train:nth-child(4){
   left: 50%;
   top: -52px;
}

.bid_yellow {
   background-position: 100% 0%;
}
.bid_red {
   background-position: 100% 25%;  
}
.bid_green {
   background-position: 100% 50%;
}
.bid_blue {
   background-position: 100% 75%;
}
.bid_purple {
   background-position: 100% 100%;
}
.train_yellow {
   background-position-y: 1%;
}
.train_red {
   background-position-y: 22%;
}
.train_green {
   background-position-y: 45%;
}
.train_blue {
   background-position-y:  68.5%;
}
.train_purple {
   background-position-y: 91.5%;
}
.player_token_yellow {
   background-position-y: 0%;
}
.player_token_red {
   background-position-y: 25%;
}
.player_token_green {
   background-position-y: 50%;
}
.player_token_blue {
   background-position-y: 75%;
}
.player_token_purple {
   background-position-y: 100%;
}

/*=======================*
 * Building Worker Slots *
 *=======================*/
.worker_slot{
   position: absolute;
   height: 35px;
   width: 33px;
   max-width: 33px;
}
.slot_1_1 {
   bottom: 10px;
   left: 9px;
}
.slot_2_1 {
   bottom: 8px;
   left: 64px;
}
.slot_1_2 {
   bottom: 9px;
   left: 14px;
}
.slot_2_2 {
   bottom: 9px;
   left: 70px;
}
.slot_1_3 {
   bottom: 10px;
   left: 14px;
}
.slot_2_3 {
   bottom: 10px;
   left: 65px;
}
.slot_1_4 {
   bottom: 9px;
   left: 14px;
}
.slot_2_4 {
   bottom: 8px;
   left: 64px;
}
.slot_1_6 {
   bottom: 45px;
   left: 16px;
}
.slot_2_6 {
   bottom: 8px;
   left: 30px;
}
.slot_1_7 {
   bottom: 11px;
   left: 51px;
}
.slot_1_8 {
   bottom: 15px;
   left: 39px;
}
.slot_1_12 {
   bottom: 14px;
   left: 26px;
}
.slot_1_15 {
   bottom: 14px;
   left: 39px;
}
.slot_1_16 {
   bottom: 9px;
   left: 28px;
}
.slot_3_17 {
   bottom: 9px;
   left: 28px;
   width: 70px;
}
.slot_1_23 {
   bottom: 48px;
   left: 39px;
}
.slot_2_23 {
   bottom: 10px;
   left: 39px;
}
.slot_1_24 {
   bottom: 13px;
   left: 38px;
}
.slot_1_26 {
   bottom: 8px;
   left: 28px;
}
.slot_1_36 {
   bottom: 8px;
   left: 5px;
}
.slot_2_36 {
   bottom: 8px;
   left: 64px;
}

/*=====================*
 * Auction Tile images *
 *=====================*/
.auction_tile {
   width: 144px;
   height: 196px;
   background-image: url('img/auctionTiles_144x196.png');
   background-repeat: no-repeat;
   box-shadow: -3px -3px 3px grey inset;
   border-radius: 6px;
}

div#auction_tile_1 { /* Auction 1*/
   background-position: 0% 0%;
}
div#auction_tile_2 {
   background-position: 11.11% 0%;
}
div#auction_tile_3 {
   background-position: 22.22% 0%;
}
div#auction_tile_4 {
   background-position: 33.33% 0%;
}
div#auction_tile_5 {
   background-position: 44.44% 0%;
}
div#auction_tile_6 {
   background-position: 55.55% 0%;
}
div#auction_tile_7 {
   background-position: 66.66% 0%;
}
div#auction_tile_8 {
   background-position: 77.77% 0%;
}
div#auction_tile_9 {
   background-position: 88.88% 0%;
}
div#auction_tile_10 {
   background-position: 100% 0%;
}
div#auction_tile_11 {/* Auction 2*/
   background-position: 0% 50%;
}
div#auction_tile_12 {
   background-position: 11.11% 50%;
}
div#auction_tile_13 {
   background-position: 22.22% 50%;
}
div#auction_tile_14 {
   background-position: 33.33% 50%;
}
div#auction_tile_15 {
   background-position: 44.44% 50%;
}
div#auction_tile_16 {
   background-position: 55.55% 50%;
}
div#auction_tile_17 {
   background-position: 66.66% 50%;
}
div#auction_tile_18 {
   background-position: 77.77% 50%;
}
div#auction_tile_19 {
   background-position: 88.88% 50%;
}
div#auction_tile_20 {
   background-position: 100% 50%;
}
div#auction_tile_21 { /* Auction 3*/
   background-position: 0% 100%;
}
div#auction_tile_22 {
   background-position: 11.11% 100%;
}
div#auction_tile_23 {
   background-position: 22.22% 100%;
}
div#auction_tile_24 {
   background-position: 33.33% 100%;
}
div#auction_tile_25 {
   background-position: 44.44% 100%;
}
div#auction_tile_26 {
   background-position: 55.55% 100%;
}
div#auction_tile_27 {
   background-position: 66.66% 100%;
}
div#auction_tile_28 {
   background-position: 77.77% 100%;
}
div#auction_tile_29 {
   background-position: 88.88% 100%;
}
div#auction_tile_30 {
   background-position: 100% 100%;
}

/*======================*
 * Building card images *
 *======================*/
.building_tile {
   width: 144px;
   height: 196px;
   background-image: url('img/buildingTiles_144x196.png');
   background-repeat: no-repeat;
   box-shadow: -3px -3px 3px grey inset;
   border-radius: 6px;
   position: relative;
}

.build_tile_1 { /* Yellow Homestead */
   background-position: 0% 0%;
   order: 1;
}
.build_tile_2 { /* Red Homestead */
   background-position: 12.5% 0%;
   order: 2;
}
.build_tile_3 { /* Green Homestead */
   background-position: 25% 0%;
   order: 3;
}
.build_tile_4 { /* Blue Homestead */
   background-position: 37.5% 0%;
   order: 4;
}
.build_tile_5 { /* Grain Mill */
   background-position: 50% 0%;
   order: 5;
}
.build_tile_6 { /* Farm */
   background-position: 62.5% 0%;
   order: 6;
}
.build_tile_7 { /* Market */
   background-position: 75% 0%;
   order: 7;
}
.build_tile_8 { /* Foundry */
   background-position: 87.5% 0%;
   order: 8;
}
.build_tile_9 { /* Steel Mill */
   background-position: 100% 0%;
   order: 9;
}
.build_tile_10 { /* Boarding House */
   background-position: 0% 33.33%;
   order: 10;
}
.build_tile_11 { /* Railworkers House */
   background-position: 12.5% 33.33%;
   order: 11;
}
.build_tile_12 { /* Ranch */
   background-position: 25% 33.33%;
   order: 12;
}
.build_tile_13 { /* Trading Post */
   background-position: 37.5% 33.33%;
   order: 13;
}
.build_tile_14 { /* General Store */
   background-position: 50% 33.33%;
   order: 14;
}
.build_tile_15 { /* Gold Mine */
   background-position: 62.5% 33.33%;
   order: 15;
}
.build_tile_16 { /* Copper Mine */
   background-position: 75% 33.33%;
   order: 16;
}
.build_tile_17 { /* River Port */
   background-position: 87.5% 33.33%;
   order: 17;
}
.build_tile_18 { /* Church */
   background-position: 100% 33.33%;
   order: 18;
}
.build_tile_19 { /* Workshop */
   background-position: 0% 66.66%;
   order: 19;
}
.build_tile_20 { /* Depot */
   background-position: 12.5% 66.66%;
   order: 20;
}
.build_tile_21 { /* Stables */
   background-position: 25% 66.66%;
   order: 21;
}
.build_tile_22 { /* Bank */
   background-position: 37.5% 66.66%;
   order: 22;
}
.build_tile_23 { /* Meatpacking Plant */
   background-position: 50% 66.66%;
   order: 23;
}
.build_tile_24 { /* Forge */
   background-position: 62.5% 66.66%;
   order: 24;
}
.build_tile_25 { /* Factory */
   background-position: 75% 66.66%;
   order: 25;
}
.build_tile_26 { /* Rodeo */
   background-position: 87.5% 66.66%;
   order: 26;
}
.build_tile_27 { /* Lawyer */
   background-position: 100% 66.66%;
   order: 27;
}
.build_tile_28 { /* Fairgrounds */
   background-position: 0% 100%;
   order: 28;
}
.build_tile_29 { /* Dude Ranch */
   background-position: 12.5% 100%;
   order: 29;
}
.build_tile_30 { /* Town Hall */
   background-position: 25% 100%;
   order: 30;
}
.build_tile_31 { /* Terminal */
   background-position: 37.5% 100%;
   order: 31;
}
.build_tile_32 { /* Restaraunt */
   background-position: 50% 100%;
   order: 32;
}
.build_tile_33 { /* Train Station */
   background-position: 62.5% 100%;
   order: 33;
}
.build_tile_34 { /* Circus */
   background-position: 75% 100%;
   order: 34;
}
.build_tile_35 { /* Rail Yard */
   background-position: 87.5% 100%;
   order: 35;
}
#first_player_tile { /* First Player */
   background-position: 100% 100%;
}
/* EXPANSION BUILDINGS */
.build_tile_36 { /* Purple homestead */
   background-image: url('img/exp_building_144x196.png');
   background-position: 0% 0%;
}
.build_tile_37 { /* Lumbermill */
   background-image: url('img/exp_building_144x196.png');
   background-position: 14.29% 0%;
}
.build_tile_38 { /* Hotel */
   background-image: url('img/exp_building_144x196.png');
   background-position: 28.57% 0%;
}
.build_tile_39 { /* Saloon */
   background-image: url('img/exp_building_144x196.png');
   background-position: 42.86% 0%;
}
.build_tile_40 { /* Silver Mine */
   background-image: url('img/exp_building_144x196.png');
   background-position: 71.43% 0%;
}
.build_tile_41 { /* Warehouse */
   background-image: url('img/exp_building_144x196.png');
   background-position: 85.% 0%;
}
.build_tile_42 { /* Post Office */
   background-image: url('img/exp_building_144x196.png');
   background-position: 100% 0%;
}
